@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a{
        display: block;
    }
}

@layer utilities {
    .expand{
        display: block !important;
    }

    .none{
        display: none !important;
    }
}

