<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>week8</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <div class="bg-gradient-to-b from-primary-200 to-black">
      <%- include('./layout/header'); -%>
      <div class="container h-[300px]">
      </div>
    </div>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../js/main.js"></script>
    <script type="module" src="../js/index.js"></script>
  </body>
</html>
